In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("C:\\Users\\rflem\\OneDrive\\Desktop\\Draft Data\\NCAA stats - 2002-2003 stats.csv")

In [3]:
data_2003 = pd.read_csv("C:\\Users\\rflem\\OneDrive\\Desktop\\Draft Data\\NCAA stats - 2003-2004 stats.csv")

In [5]:
data_2004 = pd.read_csv("C:\\Users\\rflem\\OneDrive\\Desktop\\Draft Data\\NCAA stats - 2004-2005 stats.csv")

In [6]:
data_2005 = pd.read_csv("C:\\Users\\rflem\\OneDrive\\Desktop\\Draft Data\\NCAA stats - 2005-2006 stats.csv")

In [7]:
data_2006 = pd.read_csv("C:\\Users\\rflem\\OneDrive\\Desktop\\Draft Data\\NCAA stats - 2006-2007 stats.csv")

In [8]:
data_2007 = pd.read_csv("C:\\Users\\rflem\\OneDrive\\Desktop\\Draft Data\\NCAA stats - 2007-2008 stats.csv")

In [9]:
data_2009 = pd.read_csv("C:\\Users\\rflem\\OneDrive\\Desktop\\Draft Data\\NCAA stats - 2008-2009 stats.csv")

In [11]:
data_2010 = pd.read_csv("C:\\Users\\rflem\\OneDrive\\Desktop\\Draft Data\\NCAA stats - 2009-2010 stats.csv")

In [12]:
data_2011 = pd.read_csv("C:\\Users\\rflem\\OneDrive\\Desktop\\Draft Data\\NCAA stats - 2010-2011 stats.csv")

In [13]:
data_2012 = pd.read_csv("C:\\Users\\rflem\\OneDrive\\Desktop\\Draft Data\\NCAA stats - 2011-2012 stats.csv")

In [14]:
data_2013 = pd.read_csv("C:\\Users\\rflem\\OneDrive\\Desktop\\Draft Data\\NCAA stats - 2012-2013 stats.csv")

In [15]:
data_2014 = pd.read_csv("C:\\Users\\rflem\\OneDrive\\Desktop\\Draft Data\\NCAA stats - 2013-2014 stats.csv")

In [16]:
data_2015 = pd.read_csv("C:\\Users\\rflem\\OneDrive\\Desktop\\Draft Data\\NCAA stats - 2014-2015 stats.csv")

In [17]:
data_2016 = pd.read_csv("C:\\Users\\rflem\\OneDrive\\Desktop\\Draft Data\\NCAA stats - 2015-2016 stats.csv")

In [18]:
data_2018 = pd.read_csv("C:\\Users\\rflem\\OneDrive\\Desktop\\Draft Data\\NCAA stats - 2017-2018 stats.csv")

In [19]:
data_2019 = pd.read_csv("C:\\Users\\rflem\\OneDrive\\Desktop\\Draft Data\\NCAA stats - 2018-2019 stats.csv")

In [20]:
data_2020 = pd.read_csv("C:\\Users\\rflem\\OneDrive\\Desktop\\Draft Data\\NCAA stats - 2019-2020 stats.csv")

In [21]:
data_2021 = pd.read_csv("C:\\Users\\rflem\\OneDrive\\Desktop\\Draft Data\\NCAA stats - 2020-2021 stats.csv")

In [22]:
data_2022 = pd.read_csv("C:\\Users\\rflem\\OneDrive\\Desktop\\Draft Data\\NCAA stats - 2021-2022 stats.csv")

In [23]:
data_2023 = pd.read_csv("C:\\Users\\rflem\\OneDrive\\Desktop\\Draft Data\\NCAA stats - 2022-2023 stats.csv")

In [25]:
new_df = pd.concat([data, data_2003,data_2004,data_2005,data_2006,data_2007,data_2009,data_2010,data_2011,data_2012,data_2013,data_2014,data_2015,data_2016,data_2018,data_2019,data_2020,data_2021,data_2022,data_2023])

In [26]:
new_df

,RK,Name,POS,GP,MIN,PTS,FGM,FGA,FG%,3:00 PM,...,FTM,FTA,FT%,REB,AST,NAME,0.625,STL,BLK,TO
0,1,Ruben DouglasUNM,G,28,35.1,28.0,7.8,19.6,39.7,3.4,...,9.0,10.8,84.1,6.6,2.1,NaN,NaN,NaN,NaN,NaN
1,2,Henry DomercantEIU,G,29,33.7,27.9,8.7,19.0,45.8,2.9,...,7.7,9.1,84.4,6.9,2.8,NaN,NaN,NaN,NaN,NaN
2,3,Mike HelmsOAK,G,28,34.5,26.9,8.6,19.0,45.2,2.6,...,7.0,9.4,74.5,4.0,2.0,NaN,NaN,NaN,NaN,NaN
3,4,Michael WatsonKC,G,29,38.8,25.5,8.5,22.6,37.7,4.1,...,4.4,5.9,75.3,3.7,3.8,NaN,NaN,NaN,NaN,NaN
4,5,Troy BellBC,G,31,38.6,25.2,7.2,16.4,44.1,3.4,...,7.3,8.6,84.7,4.6,3.7,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3056,3057,NaN,G,26,9.0,0.5,0.2,0.7,33.3,NaN,...,0.1,0.2,33.3,0.9,0.5,Patrick NealPV,0.0,0.3,0.1,0.5
3057,3058,NaN,G,28,6.4,0.5,0.2,0.6,29.4,NaN,...,0.1,0.3,42.9,0.5,0.6,Ellis MagnusonEWU,0.1,0.0,0.0,0.4
3058,3059,NaN,F,24,5.9,0.5,0.3,0.6,40.0,NaN,...,0.0,0.1,0.0,0.8,0.2,Josh OzaborBRY,0.0,0.2,0.2,0.3
3059,3060,NaN,F,26,5.3,0.5,0.2,0.8,28.6,NaN,...,0.0,0.2,0.0,1.1,0.1,Daniel UmohMVSU,0.0,0.1,0.2,0.4
3060,3061,NaN,G,30,4.9,0.2,0.1,0.3,22.2,NaN,...,0.1,0.2,33.3,0.5,0.4,George Ivory IIIMVSU,0.0,0.1,0.0,0.4

In [30]:
new_df.dropna(subset= ['Name'])

,RK,Name,POS,GP,MIN,PTS,FGM,FGA,FG%,3:00 PM,...,FTM,FTA,FT%,REB,AST,NAME,0.625,STL,BLK,TO
0,1,Ruben DouglasUNM,G,28,35.1,28.0,7.8,19.6,39.7,3.4,...,9.0,10.8,84.1,6.6,2.1,NaN,NaN,NaN,NaN,NaN
1,2,Henry DomercantEIU,G,29,33.7,27.9,8.7,19.0,45.8,2.9,...,7.7,9.1,84.4,6.9,2.8,NaN,NaN,NaN,NaN,NaN
2,3,Mike HelmsOAK,G,28,34.5,26.9,8.6,19.0,45.2,2.6,...,7.0,9.4,74.5,4.0,2.0,NaN,NaN,NaN,NaN,NaN
3,4,Michael WatsonKC,G,29,38.8,25.5,8.5,22.6,37.7,4.1,...,4.4,5.9,75.3,3.7,3.8,NaN,NaN,NaN,NaN,NaN
4,5,Troy BellBC,G,31,38.6,25.2,7.2,16.4,44.1,3.4,...,7.3,8.6,84.7,4.6,3.7,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2900,2901,LaDamien BradfordXLA,G,14,7.0,0.3,0.1,0.7,10.0,0.0,...,0.1,0.4,40.0,0.7,0.4,NaN,NaN,NaN,NaN,NaN
2901,2901,Robert BoydUAPB,F,21,7.7,0.3,0.1,0.8,12.5,0.0,...,0.0,0.2,20.0,0.7,0.3,NaN,NaN,NaN,NaN,NaN
2902,2901,Demetrius TerryCLEV,G,21,3.7,0.3,0.1,0.4,33.3,0.0,...,0.0,0.0,0.0,0.3,0.2,NaN,NaN,NaN,NaN,NaN
2903,2901,Jonah CarrascoIUPU,F,14,3.6,0.3,0.1,0.3,50.0,0.0,...,0.0,0.1,0.0,0.4,0.0,NaN,NaN,NaN,NaN,NaN
2904,2905,Christopher DumasALST,G,15,3.4,0.0,0.0,0.5,0.0,0.0,...,0.0,0.1,0.0,0.3,0.1,NaN,NaN,NaN,NaN,NaN

In [36]:
def process_name(name):
    if isinstance(name, str):
        for i in range(len(name) - 1, -1, -1):
            if name[i].isupper():
                name = name[:i] + name[i+1:]
            elif name[i].islower():
                break
    return name

In [38]:
new_df['Name'] = new_df['Name'].apply(process_name)

In [39]:
new_df['Name']

0         Ruben Douglas
1       Henry Domercant
2            Mike Helms
3        Michael Watson
4             Troy Bell
             ...
3056                NaN
3057                NaN
3058                NaN
3059                NaN
3060                NaN
Name: Name, Length: 70409, dtype: object

In [45]:
# new_df.head(100)
print(new_df.columns.tolist())

['RK', 'Name', 'POS', 'GP', 'MIN', 'PTS', 'FGM', 'FGA', 'FG%', '3:00 PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'REB', 'AST', 'NAME', '0.625', 'STL', 'BLK', 'TO']